<div class="row animated fadeIn">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Usuarios</h3>

                <div class="alert alert-info animated fadeIn" *ngIf="usuarios.length === 0">
                    <p class="mb-0">
                        No hay usuarios con ese término
                    </p>
                </div>

                <div class="table-responsive animated fadeIn" *ngIf="usuarios.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td class="text-center">
                                    <img class="w100 avatar" [src]="usuario.imag| imagen: 'usuarios' " alt="">
                                </td>
                                <td>{{ usuario.nombre }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Médicos</h3>

                <div class="alert alert-info animated fadeIn" *ngIf="medicos.length === 0">
                    <p class="mb-0">
                        No hay médicos con ese término
                    </p>
                </div>

                <div class="table-responsive animated fadeIn" *ngIf="medicos.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos">
                                <td class="text-center">
                                    <img class="w100 avatar" [src]="medico.img| imagen: 'medicos' " alt="">
                                </td>
                                <td>{{ medico.nombre }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Hospitales</h3>

                <div class="alert alert-info animated fadeIn" *ngIf="hospitales.length === 0">
                    <p class="mb-0">
                        No hay hospitales con ese término
                    </p>
                </div>

                <div class="table-responsive animated fadeIn" *ngIf="hospitales.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitales">
                                <td class="text-center">
                                    <img class="w100 avatar" [src]="hospital.img| imagen: 'hospitales' " alt="">
                                </td>
                                <td>{{ hospital.nombre }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>