<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Busqueda">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Hospitales</h4>
                        <h6 class="card-subtitle">
                            Hospitales registrados {{ total }}
        
                        </h6>
                    </div>

                    <div class="col-4">
                        <div class="text-right">
                            <button (click)="abrirSweetAlert()" class="btn btn-primary">
                                <i class="fa fa-hospital-o"></i>
                                Crear Hospital
                            </button>
                        </div>
                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitales">
                                <td class="text-center">
                                    <img (click)="abrirModal(hospital)" class="avatar cursor" [src]="hospital.img | imagen:'hospitales'" [alt]="hospital.nombre">
                                </td>
                                <td>
                                    <input type="text" [(ngModel)]="hospital.nombre" class="form-control">
                                </td>

                                <td class="text-nowrap text-center w100">
                                    <a class="cursor" (click)="actualizarHospital(hospital)" data-toggle="tooltip" data-original-title="Guardar"> 
                                        <i class="fa fa-save  m-r-10"></i> 
                                    </a>
                                    <a class="cursor" (click)="eliminarHospital(hospital)" data-toggle="tooltip" data-original-title="Eliminar">
                                         <i class="fa fa-close text-danger"></i> 
                                    </a>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>

                <button class="btn btn-secondary mr-1" (click)="cambiarPagina(-5)" > Anterior </button>
                <button class="btn btn-secondary" (click)="cambiarPagina(5)"> Siguiente </button>
            </div>
        </div>
    </div>
</div>